.loginWrapper {
    background-image: url(../../../assets/images/homeback.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0 30px;
    margin: 70px 0 0 0;
}

.loginForm {
    max-width: 400px;
    padding: 50px;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
}